name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  defaults: &defaults
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

  build:
    <<: *defaults
    steps:
      - *defaults
      - run: ./gradlew build

  lint:
    <<: *defaults
    steps:
      - *defaults
      - run: spotlessCheck
